.input {
  border-radius: 5px;
  border: 2px solid #2567ec;
  padding: 0.2rem 1rem;
  outline: none;
  width: 100%;
  margin: 1rem;

  &:hover {
    border: 2px solid rgb(127, 189, 247);
  }

  &:focus,
  &:active {
    border: 2px solid rgb(238, 205, 20);
  }
}
