.button {
  font-size: inherit;
  margin: 2rem;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: 2px solid transparent;
  color: white;
  transition: all 300ms;

  &-normal {
    background-color: #ff7380;

    &:not(:disabled):hover {
      background-color: white;
      color: #ff7380;
      border: 2px solid #ff7380;
    }
  }
  &-success {
    background-color: #5feb6b;

    &:not(:disabled):hover {
      background-color: white;
      color: #5feb6b;
      border: 2px solid #5feb6b;
    }
  }
}

button:disabled {
  cursor: not-allowed;
  color: white;
  background-color: rgb(51, 51, 51);
}

button:disabled:hover {
  color: white;
  background-color: rgb(51, 51, 51);
  border: 2px solid transparent;
}
