.QuizDetails {
    margin-top: 100px;
    height: auto;
    min-height: 30rem;
    width: 100%;
    display: grid;
    justify-items: center;
    align-content: center;
    font-size: 2rem;
    div {
      width: 50%;
      display: grid;
      justify-items: center;
      align-content: center;
      padding: 10px
    }
  }

  .UpdateSucces{
   
    height: 100vh;
    min-height: 30rem;
    width: 100%;
    display: grid;
    justify-items: center;
    align-content: center;
    padding: 10px
 }

  input{

    width:100%
  }

  

 

